*{
  font-family: Garmond;
}
.jumbotron {
    background-image: image-url("fallblog/fall1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}
.logo img{

}
p{
  font-family: Garmond, sans-serif;
  font-size: 1.2em;
}
.sidebar_p {
  margin-left: 25px;
}

.advertisement {
  margin-top: 20px;
}

p {
  font-family: Garmond, sans-serif;
  font-size: 1.2em;
}

.nav li a:hover {
  background-color: red;
}
.sidebar {
  margin-left: 25px
}
