<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
      <link rel="icon" href="#">
        <title>Homework</title>
          <link rel="stylesheet" href="styles.css">
      </head>
      <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-14">
          <p class="visible-xs">
            <div class="jumbotron">
                <a class="navbar-brand" href="#">Logo</a>
                <li><a href="#">About</a></li>
                <li><a href="#">Search</a></li>
              <h1 align="center">Fall Days</h1>
            </div>
          </div>
        </div>
          <% yeild %>
      <footer class="container-fluid">
        <div class="col-xs-1"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 footer-logo"
          <img class="img-responsive" src="fallblog/logo.png"
        <p>&copy; IronYard-Michelle 2015</p>
        <div class="col-xs-6 col-sm-3 sidebar" id="sidebar">
          <% sidebar.each do |sidebar| %>
            <a href="#" class="list-group">Nav 1</a> <% sidebar[:class] %>
            <% end %>
          </div>
      </footer>
    </div>
  </body>
</html>
